<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwjjr0ft7yU2z92Xy0iCDUSc7hXs0zhr0</string>
	<key>GCM_SENDER_ID</key>
	<string>1097044517473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.fitme</string>
	<key>PROJECT_ID</key>
	<string>fitme-3gryyr</string>
	<key>STORAGE_BUCKET</key>
	<string>fitme-3gryyr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097044517473:ios:0e61710ea6ddec6f4a8020</string>
</dict>
</plist>